<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

  <div class="navbar-links-login">
    <a class="navbar-btn" href="/auth/signup"> Sign Up </a>
  </div>
</nav>

<h2>Login:</h2>
<form action="/auth/login" method="post">
  <label for="username">Username:</label>
  <input
    required
    type="text"
    name="username"
    placeholder="type your username"
  />

  <label for="password">Password:</label>
  <input
    required
    type="password"
    name="password"
    placeholder="hope you remember it..."
  />

  <button type="submit">Login</button>
</form>
{{#if errorMessage}}
  <p>

    {{errorMessage}}
  </p>
{{/if}}