<div class="other-bkgrnd">
  <div class="login-form">
    <form class="form1" action="/auth/login" method="POST">
      <label for="username"></label>
      <input
        class="pass"
        required
        type="text"
        name="username"
        placeholder="type your username"
        align="center"
      />

      <label for="password"></label>
      <input
        class="pass"
        required
        type="password"
        name="password"
        placeholder="password..."
      />

      <button type="submit" class="submit-button">Login</button>
    </form></div>
  {{#if errorMessage}}
    <p>

      {{errorMessage}}
    </p>
  {{/if}}
</div>