<a href="/">HOME</a>
<a href="/signup">Don't have an account? Create an account.</a>

<form action="/users/login" method="post">
  <label for="username">Username:</label>
  <input
    required
    type="text"
    name="username"
    placeholder="type your username"
  />

  <label for="password">Password:</label>
  <input
    required
    type="password"
    name="password"
    placeholder="hope you remember it..."
  />

  <button type="submit">Login</button>
</form>