<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

  <div class="navbar-links-login">
    <a class="navbar-btn" href="/auth/login"> Login </a>
  </div>
</nav>

<h2>Sign up:</h2>
<form action="/auth/signup" method="post">
  <label for="username">Username:</label>
  <input
    required
    type="text"
    name="username"
    placeholder="type your username"
  />

  <label for="email">Email:</label>
  <input required type="email" name="email" placeholder="type your email" />

  <label for="password">Password:</label>
  <input required type="password" name="password" placeholder="choose wisely" />

  <button type="submit">Sign me up!</button>
</form>
{{#if errorMessage}}
  <p>

    {{errorMessage}}
  </p>
{{/if}}