<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

  <div class="navbar-links-login">
    <a class="navbar-btn" href="/auth/login" align="center"> Login </a>
  </div>
</nav>

<div class="login-form">
<h2 class="login-text" align="center"></h2>
<form class="form1" action="/auth/signup" method="post">
  <label for="username"></label>
  <input class="un"
    required
    type="text"
    name="username"
    placeholder="choose a username"
  />

  <label for="email"></label>
  <input class="pass" required type="email" name="email" placeholder="type your email" />

  <label for="password"></label>
  <input class="pass" required type="password" name="password" placeholder="choose a password" />

  <button type="submit" class="submit" align="center">Sign me up!</button>
</form></div>
{{#if errorMessage}}
  <p>

    {{errorMessage}}
  </p>
{{/if}}