<p>
  {{#each beanList}}
    <div class="container">
<div class="card card0">

    <ul class="ul-card">
     <h2> <a class="bean-card-title" href="beans/bean-details/{{id}}">{{name}}</a></h2>
      <img class="bean-img" src="{{image}}"/></a>
      <h4 align="center">{{origin}}</h4>
  
    </ul>
    </div></div></div>
  {{/each}}
</p>