<h1>Beans</h1>
<p>
  {{#each beanList}}
    <ul>
      <a href="beans/bean-details">{{name}}</a>
    </ul>
  {{/each}}
</p>

<a href="/home">HOME</a>
<a href="/login"> Log In </a>
<a href="/signup"> Sign Up </a>