<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

  <div class="navbar-links-beansdetails">

    <a class="navbar-btn" href="/home"> Go back </a>
    <a class="navbar-btn" href="/auth/login"> Login </a>
    <a class="navbar-btn" href="/auth/signup"> Sign Up </a>
  </div>
</nav>

<h1>Beans</h1>
<p>
  {{#each beanList}}
    <ul>
      <a href="beans/bean-details/{{id}}">{{name}}</a>
    </ul>
  {{/each}}
</p>

