<h1>Beans</h1>
<p>
  {{#each beanList}}
    <ul>
<<<<<<< HEAD
      <a href="/beans/bean-details">{{name}}</a>
=======
      <a href="beans/bean-details">{{name}}</a>
>>>>>>> 9e2a21f8012ad2bae06f1509a7ded19c24580e72
    </ul>
  {{/each}}
</p>

<a href="/home">HOME</a>
<a href="/login"> Log In </a>
<a href="/signup"> Sign Up </a>