
<nav class="navbar">
  <a class="navbar-logo" href="/home"><img src="/images/coffeelogo.png" width="20px"/></a>
  
  <div class="navbar-links">
    {{#if userLoggedIn}}
      <a class="navbar-btn" href="/users/profile/{{currentUserInfo._id}}"></a>Profile</a>
      <a class="navbar-btn" href="/cafes/add-cafe"></a>Add Cafe</a>
      <a class="navbar-btn" href="/auth/logout"></a>Logout</a>
    {{else}}
      <a class="navbar-btn" href="/auth/login" align="center"> Login </a>
      <a class="navbar-btn" href="/auth/signup" align="center"> Sign Up </a>
    {{/if}}
  </div>
</nav>