<div class="other-bkgrnd">
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
<img src="/images/error1.png" width="20px" />
<h1>Error!</h1>
<h2>There was an error on the server!</h2>
