<h1>{{title}}</h1>
<p>Welcome to Home Page {{title}}</p>
<a href="/beans/beans">Beans</a>
<a href="/cafes/cafes">Cafes</a>

{{#if userLoggedIn}}
  <a href="/users/profile/{{currentUserInfo._id}}">
    <h2>Profile</h2>
  </a>
  <a href="/cafes/add">
    <h2>Add Cafe</h2>
  </a>
  <a href="/auth/logout">
    <h2>Log Out</h2>
  </a>
{{else}}

<a href="/auth/login"> Log In </a>
<a href="/auth/signup"> Sign Up </a>
  </a>
{{/if}}