<h1>{{title}}</h1>
<p>Welcome to Home Page {{title}}</p>
<a href="/beans">Beans</a>
<a href="/cafes">Cafes</a>

{{#if userLoggedIn}}
  <a href="/user/user-profile/{{currentUserInfo._id}}">
    <h2>Profile</h2>
  </a>
  <a href="/user/add-cafe">
    <h2>Add Cafe</h2>
  </a>
  <a href="/logout">
    <h2>Log Out</h2>
  </a>
{{else}}
  <a href="/login">
    <h2>Log In</h2>
  </a>
  <a href="/signup">
    <h2>Sign Up</h2>
  </a>
{{/if}}