<div class="home-bkgrnd">
  <div class="home-container">
   <video class="testvideo" autoplay loop muted>
    <source src="/images/barista vid.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>

  <div class="logo-and-quote">
    <img class="logo" src="/images/brewlogo.svg"/>
    <h4 class="quote">A source for Barcelona's best coffee</h4>
  </div>

  <div class ="home-screen-btns"> 
    <a class="home-beans-btn" href="/beans">Beans</a> 
    <a class="home-cafes-btn" href="/cafes">Cafes</a>
  </div>
  </div>
 <!-- {{>footer}}-->
</div>
