
<div class="home-container">
    <h1 class="barna-text">Barna Brew</h1>
<h5 class="quote">A source for Barcelona's best coffee</h5>
<div class ="home-screen-btns"> 
  <a class="home-beans-btn" href="/beans">Beans</a> 
  <a class="home-cafes-btn" href="/cafes">Cafes</a>
</div>
</div>
    {{>footer}}