
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home"><img src="/images/coffeelogo.png" width="20px"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{#if userLoggedIn}}
 <a class="nav-item nav-link active" href="/users/profile/{{currentUserInfo._id}}"></a>Profile <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/cafes/add"></a>Add Cafe</a>
      <a class="nav-item nav-link" href="/auth/logout"></a>>Logout</a>
{{else}}
<a class="nav-item nav-link" href="/auth/login"> Log In </a>
<a class="nav-item nav-link" href="/auth/signup"> Sign Up </a>
    </div>
  </div></nav>
  {{/if}}



<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <center><h1 class="display-4">Barna Brew</h1></center>
    <p class="lead"> <div class ="home-screen-btns">
  <a class="home-beans-btn" href="/beans">Beans</a>
<a class="home-cafes-btn" href="/cafes">Cafes</a>
</div></p>
  </div>
</div>