
<nav class="navbar">
  <a class="navbar-logo" href="/home"><img src="/images/coffeelogo.png" width="20px"/></a>
  
  <div class="navbar-links">
    {{#if userLoggedIn}}
      <a class="navbar-btn" href="/users/profile/{{currentUserInfo._id}}"></a>Profile <span class="sr-only">(current)</span></a>
      <a class="navbar-btn" href="/cafes/add"></a>Add Cafe</a>
      <a class="navbar-btn" href="/auth/logout"></a>>Logout</a>
    {{else}}
      <a class="navbar-btn" href="/auth/login"> Log In </a>
      <a class="navbar-btn" href="/auth/signup"> Sign Up </a>
    {{/if}}
  </div>
</nav>



<div class ="home-screen-btns"> 
  <a class="home-beans-btn" href="/beans">Beans</a> 
  <a class="home-cafes-btn" href="/cafes">Cafes</a>
  </div>

  <h1 class="barna-text">Barna Brew</h1>


    {{>footer}}