<a href="/">HOME</a>

<form action="/users/login" method="post">
    <label for="email">Email:</label>
    <input required type="email" name="email" placeholder="type your email"/>

    <label for="password">Password:</label>
    <input required type="password" name="password" placeholder="hope you remember it..."/>

    <button type="submit">Login</button>
</form>