page to add cafe to the list form which fits the cafeSchema submit button which
sends the user back to cafe lists

<a href="/home">HOME</a>

<h2>Add New Cafe!</h2>

<form action="/cafes/create" method="POST">

  <label for="cafe-name">Cafe name:</label>
  <input type="text" name="cafe-name" />

  <label for="review">A few words:</label>
  <input type="text" name="review" />

  <label for="location">Location:</label>
  <input type="text" name="location" />

  <label for="picture">Picture:</label>
  <input type="image" name="picture" />

  <div>
    <p>Select the beans:</p>
    {{#each allBeans}}
      <input type="checkbox" name="beans" value={{_id}} />
      <label for="beans"> {{name}}</label><br />
    {{/each}}
  </div>

  <button type="submit">☕️</button>
</form>