you got the fav of cafeS remove from fav button

<article>
  <img src="{{user.image}}" alt="user image" />
  <p><b>Name:</b> {{user.name}}</p>
  <a href="/user/user-profile/{{user._id}}/edit">Edit</a>
</article>
<a href="/home">HOME</a>