<h1>Profile {{username}} </h1>

<br /><br />

<form action="/auth/logout" method="GET">
  <button type="submit">Logout</button>
</form>
<article>
  <img src="{{user.image}}" alt="user image" />
  <p><b>Name:</b> {{user.name}}</p>
  <a href="/user/user-profile/{{user._id}}/edit">Edit</a>
</article>
<a href="/home">HOME</a>

<div>
  <a href="user/add-cafe">Add a new cafe</a>
</div>