* {
  @import url(https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap);
}

body {
  background-image: url("/images/129701-coffee-wood-drinkware-flooring-table-4820x3087.jpg");
  background-size: 100%;
}

a {
  color: #00b7ff;
}

h1 {
  color: white;
}

.home-beans-btn {
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 5px;
  border: 3px white;
  border-radius: 30px;
}

.home-cafes-btn {
  text-decoration: none;
  background-color: #eeeeee;
  color: #333333;
  padding: 5px;
  border: 3px white;
  border-radius: 15px;
}

.home-screen-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
