<h1>Cafes</h1>
<p>
  {{#each listCafes}}
    <ul>
<<<<<<< HEAD
     <a href = "/cafes/cafe-details">{{name}}</a> 
=======
     <a href = "cafes/cafe-details">{{name}}</a> 
>>>>>>> 9e2a21f8012ad2bae06f1509a7ded19c24580e72
     <img src="{{image}}"/>
    </ul>
  {{/each}}
</p>
<video = src="../"></video>

<a href="/home">HOME</a>
<a href="/login"> Log In </a>
<a href="/signup"> Sign Up </a>

<p>Add your favorite
<a href="/add-cafe">cafe!</a>
</p>