<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

  <div class="navbar-links-beansdetails">

    <a class="navbar-btn" href="/home" align="center"> Back </a>
    <a class="navbar-btn" href="/auth/login" align="center"> Login </a>
    <a class="navbar-btn" href="/auth/signup" align="center"> Sign Up </a>
  </div>
</nav>


<p>

  {{#each listCafes}}
  <div class="container">
<div class="card card0">
   <div class="border">
    <ul>
   <h2><a class="cafe-card-title" href = "/cafes/cafe-details/{{id}}">{{name}} </h2>
   <img class="cafe-img" src="{{image}}"/></a>
     
     <form action="/users/favorites/{{id}}" method="POST">
      <button class="heart-btn"><img src="/images/heartlogo.jpeg" width="30px"/></button>
   
      </form>
    </ul>
    </div> </div>
    </div>
    
  
  
  {{/each}} 
</p>


<p>Add your favorite
<a href="/cafes/add-cafe">cafe!</a>
</p>