<h2>Cafe Details</h2>
<a href="/cafes">Go Back</a>
<a href="/cafes/create">Add a New Cafe!</a>
<ul>

  <li>
    <p>Name: {{cafe.name}}</p>
    <p>Address: {{cafe.address}}</p>
    <p>Price level: {{cafe.priceLevel}}</p>
    <img src="{{cafe.image}}" />
  </li>

</ul>
<a href="/home">HOME</a>
<a href="/login"> Log In </a>
<a href="/signup"> Sign Up </a>