<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

  <div class="navbar-links-beansdetails">

    <a class="navbar-btn" href="/home"> Go back </a>
    <a class="navbar-btn" href="/auth/login"> Login </a>
    <a class="navbar-btn" href="/auth/signup"> Sign Up </a>
  </div>
</nav>


<h1>Cafes</h1>
<br>
<p>
  {{#each listCafes}}
    <ul>
     <a href = "/cafes/cafe-details/{{id}}">{{name}}</a> 
     <img src="{{image}}" width="400px"/><br><br>
      <button><img src="/images/heartlogo.jpeg" width="30px"/></button>
    </ul>
    <br>
  {{/each}} 
</p>
<video = src="../"></video>



<p>Add your favorite
<a href="/cafes/add-cafe">cafe!</a>
</p>