<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home"><img src="/images/coffeelogo.png" width="20px"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     
 
<a class="nav-item nav-link" href="/cafes"> Go back </a>
<a class="nav-item nav-link" href="auth/login"> Login </a>
<a class="nav-item nav-link" href="auth/signup"> Sign Up </a>

    </div>
  </div></nav>


<h2>Cafe Details</h2>
<a href="/cafes">Go Back</a>
<a href="/cafes/add-cafe">Add a New Cafe!</a>
<ul>

  <li>
    <p>Name: {{cafe.name}}</p>
    <p>Address: {{cafe.address}}</p>
    <p>Price level: {{cafe.priceLevel}}</p>
    <p>Leave a review:</p>
    <label class="form-label" for="name-input">Username:</label>
    <input
      class="form-input"
      type="text"
      name="user"
      id="user-input"
      placeholder="Username"
    />
    <label class="form-label" for="review-input">Review:</label>
    <textarea
      class="form-input"
      name="review"
      id="review-input"
      placeholder="Your review"
    ></textarea>

    <button type="submit"> add a review </button>
    <img src="{{cafe.image}}" />

  </li>

</ul>
