<h2>Cafe Details</h2>
<a href="/cafes">Go Back</a>
<a href="/cafes/create">Add a New Cafe!</a>
<ul>
  {{#each listCafes}}
    <li>
      <p>Name: {{name}}</p>
      <p>Address: {{address}}</p>
      <p>Price level: {{priceLevel}}</p>
      <img src="{{image}}" />
    </li>
  {{/each}}
</ul>
<a href="/home">HOME</a>
<a href="/login"> Log In </a>
<a href="/signup"> Sign Up </a>