<h1>Cafes</h1>
<p>
  {{#each listCafes}}
    <ul>
      {{name}}
    </ul>
  {{/each}}
</p>
<a href="/">HOME</a>
<a href="/login">
    <h2>Log In</h2>
  </a>
  <a href="/signup">
    <h2>Sign Up</h2>
  </a>
