<h1>Cafes</h1>
<p>
  {{#each listCafes}}
    <ul>
     <a href = "cafe-details.hbs">{{name}}</a> 
    </ul>
  {{/each}}
</p>
<video = src="../"></video>

<a href="/home">HOME</a>
<a href="/login"> Log In </a>
<a href="/signup"> Sign Up </a>

<p>Add your favorite
<a href="/add-cafe">cafe!</a>
</p>