<h1>Cafes</h1>
<p>
  {{#each cafeList}}
    <ul>
     <a href = "/cafes/cafe-details/{{id}}">{{name}}</a> 
     <img src="{{image}}"/>
    </ul>
  {{/each}}
</p>
<video = src="../"></video>



<p>Add your favorite
<a href="/add-cafe">cafe!</a>
</p>