<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home"><img src="/images/coffeelogo.png" width="20px"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     
 
<a class="nav-item nav-link" href="/cafes"> Go back </a>
<a class="nav-item nav-link" href="auth/login"> Login </a>
<a class="nav-item nav-link" href="auth/signup"> Sign Up </a>

    </div>
  </div></nav>


<h2>Cafe Details</h2>
<a href="/cafes/create">Add a New Cafe!</a>
<ul>
  {{#each listCafes}}
    <li>
      <p>Name: {{name}}</p>
      <p>Address: {{address}}</p>
      <p>Price level: {{priceLevel}}</p>
      <img src="{{image}}" /><br>
       <button type="submit">
     <!--    <form action="/users/favorites" method="post">
  <label for="fname">First name:</label>-->
         <img src="/images/heartlogo.jpeg" width="30px"/></button><br><br>
    </li>
  {{/each}}
</ul>
<a href="/home">HOME</a>
<a href="/login"> Log In </a>
<a href="/signup"> Sign Up </a>