page to add cafe to the list form which fits the cafeSchema submit button which
sends the user back to cafe lists


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home"><img src="/images/coffeelogo.png" width="20px"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
     
 
<a class="nav-item nav-link" href="/beans"> Go back </a>
<a class="nav-item nav-link" href="/users/profile"> Profile </a>

    </div>
  </div></nav>
  
<a href="/home">HOME</a>

<h2>Add New Cafe!</h2>

<form action="/cafes/add-cafe" method="POST">

  <label for="name">Cafe name:</label>
  <input type="text" name="name" />

  <label for="review">A few words:</label>
  <input type="text" name="review" />

  <label for="address">Location:</label>
  <input type="text" name="address" />

  <label for="picture">Picture:</label>
  <input type="image" name="picture" />

  <label for="priceLevel">Price Level:</label>
  <input type="text" name="priceLevel" />

  <div>
    <p>Select the beans:</p>
    {{#each beanList}}
      <input type="checkbox" name="beans" value={{_id}} />
      <label for="beans"> {{name}}</label><br />
    {{/each}}
  </div>

  <button type="submit">☕️</button>
</form>