<nav class="navbar">
  <a class="navbar-logo" href="/home"><img
      src="/images/coffeelogo.png"
      width="20px"
    /></a>

  <div class="navbar-links-addcafe">

  
    <a class="navbar-btn" href="/users/profile"> Profile</a>
  </div>
</nav>


<h2>Add New Cafe!</h2>

<form action="/cafes/add-cafe" method="POST" enctype="multipart/form-data">

  <label for="name">Cafe name:</label>
  <input type="text" name="name" required />

  <label for="review">A few words:</label>
  <textarea type="text" name="review"required> </textarea>

  <label for="address">Location:</label>
  <input type="text" name="address" />

  <label for="picture">Picture:</label>
  <input type="file" name="imgUrl"/>

  <label for="priceLevel">Price Level:</label>
  <input type="text" name="priceLevel" />

  <div>
    <p>Select the beans:</p>
    {{#each beanList}}
      <input type="checkbox" name="beans" value={{_id}} />
      <label for="beans"> {{name}}</label><br />
    {{/each}}
  </div>

  <button type="submit">☕️</button>
</form>