<h2 class="cafe-card-title">Add Your Favorite Cafe!</h2>

<div class="container2">
  <form action="/cafes/add-cafe" method="POST" enctype="multipart/form-data">

    <label for="name">Cafe name:</label>
    <input type="text" name="name" required />
    </br>
    
    <label for="review">A few words:</label>
    <textarea type="text" name="review" required> </textarea>
    </br>

    <label for="address">Location:</label>
    <input type="text" name="address" />
    </br>

    <label for="picture">Picture:</label>
    <input type="file" name="imgUrl" />

    <label for="priceLevel">Price Level:</label>
    <select name="priceLevel" id="priceLevel">
      <option value="€">€</option>
      <option value="€€">€€</option>
      <option value="€€€">€€€</option>
    </select>
</br>
    <button type="submit">Add</button>
  </form>
</div>