<h1 class="cafe-card-title">Add Your Cafes</h1> 
 
  <div class="card">
    <form class="form" action="/cafes/add-cafe" method="POST">

      <label for="name">Cafe name:</label>
      <input type="text" name="name" required />

      <label for="review">A few words:</label>
      <textarea type="text" name="review" required> </textarea>

      <label for="address">Location:</label>
      <input type="text" name="address" />

      <label for="picture">Picture:</label>
      <input type="file" name="imgUrl" />

      <label for="priceLevel">Price Level:</label>
      <select name="priceLevel" id="priceLevel">
        <option value="€">€</option>
        <option value="€€">€€</option>
        <option value="€€€">€€€</option>
      </select>

      <button class="submit-button" type="submit">Add</button>
    </form>
  </div>