<h1 class="cafe-card-title">Add Your Cafes</h1> 
 
<div class="add-cafe-form">
    <form class="form2" action="/cafes/add-cafe" method="POST">

      <label for="name">Cafe name:</label>
      <input class="pass" type="text" name="name" required />

      <label for="review">A few words:</label>
      <textarea class="pass" type="text" name="review" required> </textarea>

      <label for="address">Location:</label>
      <input class="pass" type="text" name="address" />

      <label for="picture">Picture:</label>
      <input class="pass" type="file" name="imgUrl" />

      <label for="priceLevel">Price Level:</label>
      <select class="pass" name="priceLevel" id="priceLevel">
        <option value="€">€</option>
        <option value="€€">€€</option>
        <option value="€€€">€€€</option>
      </select>

      <button class="submit-button" type="submit">Add</button>
    </form>
  </div>