
  <h1 class="cafe-card-title">Edit profile</h1>
<div class="login-form">
  <form class="form1"
    action="/users/edit/{{_id}}"
    method="POST"
    enctype="multipart/form-data"
  >

    <label for="">Username:</label>
    <input
     class="pass"
      type="text"
      name="username"
      placeholder="username"
      value="{{username}}"
    />

    <label for="">Email:</label>
    <input  class="pass" type="email" name="email" placeholder="email" value="{{email}}" />

    <label for="">Picture:</label>
    <input class="pass" type="file" name="image" value="{{image}}" />

    <button class="submit-button" type="submit">Save</button>

  </form>
</div>