<h1 class="cafe-card-title">Welcome {{userPopulated.username}}</h1>
  
  
 <div class="edit-profile-form">
  <img src="{{userPopulated.image}}" class ="profile-img"alt="user image" />
  <h4 class="profileh4">
  <a href="/users/favorites"/>Favorites</a>
  <br><br>
  <a href="/users/edit/{{userPopulated._id}}">Edit profile</a>
</h4>
</div>
</div>

