
<h1>Welcome {{userPopulated.username}}</h1>

<article>
  <img src="{{user.image}}" alt="user image" />

  <a href="/users/profile/{{userPopulated._id}}/edit">Edit</a>
  <a href="/users/favorites">Favorites</a>
</article>