<div class="other-bkgrnd">
  <h1>Welcome {{userPopulated.username}}</h1>

<div class="container2">
<article>
  <img src="{{userPopulated.image}}" class ="profile-img"alt="user image" />
  <h2 class="profileh2"> {{userPopulated.name}}</h2>
       <h4 class="profileh4">
  <a href="/users/edit/{{userPopulated._id}}">Edit</a>
<a href="/users/favorites"/>Favorites</a>
</h4>
  <p class="profilep">Any random bio text...</p>
  
</article>

  </div>

</article>
